/* your styles go here */
body {
    background: url(../img/chalkboard.jpg);
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
}

#MEGTLogo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    width: 20%;
}

#sidebar {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    color: #fff;
}

.sidebar-heading a:hover {
    border-bottom: dotted 1px #c3ffc3;
    color: #c3ffc3;
    text-decoration: none;
}

.sidebar-content {
    color: #fff;
    position: relative;
    width: 100% !important;
}

.sidebar-content h3, 
.sidebar-content h4, 
.sidebar-content h5 {
    text-align: center;
} 

.sidebar-p {
    font-family: 'IM Fell DW Pica', serif;
    font-size:1em;
    text-align: center;
}

h1.sidebar-heading {
    padding: 0 1em;
    text-align: center;
    text-decoration: underline;
}

.sidebar-heading a {
    color: #fff;
}

.sidebar-menu li a {
    color: #fff;
    font-weight: normal;
}

.sidebar-menu li.active:before {
    color: #c3ffc3;
}

.sidebar-menu li.active a {
    color: #c3ffc3;
    border-bottom: dotted 1px #c3ffc3;
    font-weight: normal;
}

.sidebar-menu li:hover a, .sidebar-menu li.hover:before {
    color: #c3ffc3;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}

.copyright {
    color: #cacaca;
}

p.social a {
    color: #cacaca;
}

#map {
    height: 600px;
    width: 100%;
}

#map-password:disabled {
    background-color: #00800063;
    color: white;
}